<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is a duplicate page</title>
    <link rel="canonical" href="/directly/to/page7/">
    <link rel="shortlink" href="/page2">
</head>
<body>
<h1>This is a webpage to test duplicates</h1>
<h2>This page has canonical uri and short link set</h2>
<h3>Page 2 and Page 7 are duplicates</h3>
<h3>Page 2 should be indexed as it has a shorter uri</h3>
<h3>Webcrawler</h3>
<h4>Ben V</h4>
<p>this has a duplicate page</p>
</body>
</html>