<!DOCTYPE html>
<html xmlns:html="http://www.w3.org/TR/REC-html40" xmlns:sitemap="http://www.sitemaps.org/schemas/sitemap/0.9">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sitemap</title>
</head>
<body>
<h1>Sitemap</h1>


<table>
	<thead>
		<tr>
			<th>URL Location</th>
			<th>Last modification</th>
			<th>Change frequency</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>
				<a href="http://10.1.7.37:3000/page1">page 1</a>
			</td>
			<td>
				2019-01-28T23:00Z
			</td>
			<td>
				daily
			</td>
		</tr>
	</tbody>

	<tbody>
		<tr>
			<td>
				<a href="http://10.1.7.37:8081/Webcrawler/">webcrawler</a>
			</td>
			<td>
				2019-01-29T18:27Z
			</td>
			<td>
				daily
			</td>
		</tr>
	</tbody>


	<tbody>
		<tr>
			<td>
				<a href="http://10.1.7.37:3000/page2">page 2</a>
			</td>
			<td>
				2019-01-29T09:00Z
			</td>
			<td>
				daily
			</td>
		</tr>
	</tbody>

		<tbody>
		<tr>
			<td>
				<a href="http://10.1.7.37:3000/page3">page 3</a>
			</td>
			<td>
				2019-01-29T09:00Z
			</td>
			<td>
				daily
			</td>
		</tr>
	</tbody>

		<tbody>
		<tr>
			<td>
				<a href="http://10.1.7.37:3000/page4">page 4</a>
			</td>
			<td>
				2019-01-29T10:00Z
			</td>
			<td>
				daily
			</td>
		</tr>
	</tbody>

		<tbody>
		<tr>
			<td>
				<a href="http://10.1.7.37:3000/page5">page 5</a>
			</td>
			<td>
				2019-01-29T10:00Z
			</td>
			<td>
				daily
			</td>
		</tr>
	</tbody>

			<tbody>
		<tr>
			<td>
				<a href="http://10.1.7.37:3000/page6">page 6</a>
			</td>
			<td>
				2019-01-29T18:00Z
			</td>
			<td>
				daily
			</td>
		</tr>
	</tbody>
</table>	
</body>
</html>